*.zip
*.rar
*.7z
*.apk
*.log

*.pydevproject
*.tmp
*.swp
*~.nib
*.orig
*.launch
.project
.cproject
.metadata
.buildpath
.user.ini
local.properties
.classpath
.settings/
.loadpath
.idea/
.git/
.externalToolBuilders/
node_modules/
nogit/